@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
* {
  font-family: "Red Hat Display", sans-serif;
  font-size: 18px;
  color: #540423;
  box-sizing: border-box;
}

#main {
  flex-grow: 1;
  background-color: #FCE8F0;
  padding-left: 118px;
  padding-right: 220px;
  padding-top: 20px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

input {
  border-radius: 14px;
  width: 245px;
  height: 52px;
  outline: none;
  border: none;
  padding: 10px;
}
input::placeholder {
  color: #540423;
  padding-left: 50px;
}

#partA {
  font-weight: bold;
  display: flex;
  align-items: center;
}
#partA div:nth-child(1) {
  margin-right: 78px;
}
#partA div:nth-child(1) span {
  font-size: 32.68px;
  line-height: 43.23px;
  letter-spacing: 1.5%;
}
#partA div:nth-child(1) span:nth-child(1) {
  color: #FF0363;
}
#partA div:nth-child(1) span:nth-child(2) {
  color: #540423;
}
#partA #input {
  position: relative;
}
#partA #input img {
  width: 18px;
  height: 18px;
  position: absolute;
  color: black;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.selectedNav {
  font-weight: bold;
}
.selectedNav span {
  color: #FF0363 !important;
}
.selectedNav span:nth-child(2) {
  border-bottom: 3px solid #FF0363;
  display: block;
  border-radius: 16px;
  width: 18px;
}

#partB {
  padding-left: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  box-sizing: border-box;
  position: relative;
}
#partB nav {
  width: 45%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}
#partB nav div {
  position: relative;
}
#partB nav div span {
  display: block !important;
}
#partB #cart {
  position: relative;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#partB #cart #bag {
  margin-bottom: -2px;
  margin-right: 7px;
}
#partB #cart #bag img {
  height: 15px;
  width: 15px;
  object-fit: fill;
}
#partB #pinkDot {
  margin-left: 10px;
  position: absolute;
  top: 0px;
  background-color: #FF0363;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
#partB #girl3 {
  width: 30%;
  width: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
}
#partB #girl3 img {
  height: 47px;
  width: 48px;
  object-fit: cover;
  border-radius: 14px;
  margin-right: 10px;
}
#partB #girl3 i {
  color: #FF0363;
  font-size: 25px;
}

#header, #body {
  display: flex;
  position: relative;
  margin-right: 2%;
}

#bPart1 {
  position: relative;
  width: 45%;
  text-align: left;
  margin-top: 34px;
  font-size: 71px;
  line-height: 76px;
  margin-bottom: 28px;
}

#bigTitle {
  margin-top: 80px;
  font-weight: bold;
  font-size: 71px;
  width: 443px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#bigTitle span {
  font-size: 71px;
  color: #FF0363 !important;
}
#bigTitle img {
  height: 50px;
  width: 50px;
  object-fit: fill;
  margin-left: 20px;
}

#smallText {
  color: black;
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
}

#bt {
  margin-top: 40px;
  display: flex;
  width: 100%;
  justify-content: start;
  margin-bottom: 52px;
}
#bt button {
  outline: none;
  height: 52px;
  border: none;
  border-radius: 16px;
}
#bt button:nth-child(1) {
  margin-right: 22px;
  background: #FF0363;
  color: white;
  width: 139px;
}
#bt button:nth-child(2) {
  background: white;
  color: black;
  width: 117px;
}

#brands {
  margin-top: 30px;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

#textLogo {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#textLogo img {
  width: 120px;
  height: 66px;
  object-fit: contain;
}

#bPart2 {
  margin-top: 54px;
  position: relative;
  margin-left: 150px;
  flex-grow: 1;
}
#bPart2 #mainImg {
  position: relative;
  width: 638px;
  height: 570px;
}
#bPart2 #mainImg #img {
  position: relative;
  z-index: 20;
  width: 638px;
  height: 570px;
}
#bPart2 #mainImg #img img {
  width: 100%;
  left: 100%;
}

#trapeze {
  left: 50px;
  top: 0px;
  z-index: 1;
  position: absolute;
  width: 442px;
  background-color: #FFD2E2;
  height: 582px;
}
#trapeze .triangle {
  position: absolute;
  border-top: 70px solid #FCE8F0;
  border-left: 70px solid #FCE8F0;
  border-right: 70px solid transparent;
  border-bottom: 70px solid transparent;
}

#feedBack {
  transform: translateX(-50%);
  left: 0px;
  bottom: 64px;
  text-align: left;
  background-color: white;
  position: absolute;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 33px;
  padding-bottom: 33px;
  border-radius: 24px;
  box-sizing: content-box !important;
}
#feedBack .text {
  font-size: 18px;
  font-weight: 700;
  position: relative;
}
#feedBack .text span {
  color: #FF0363;
}
#feedBack .text img {
  width: 20px !important;
  height: 20px !important;
  margin-bottom: -5px;
}
#feedBack .img_person {
  box-sizing: border-box;
  margin-top: 16px;
  display: flex;
  height: 48px;
  width: 169px;
  position: relative;
}
#feedBack .img_person img {
  left: initial;
  box-sizing: border-box;
  position: absolute;
  border: 2.7px solid white;
  width: 48px !important;
  height: 48px !important;
  border-radius: 13.5px;
  object-fit: cover;
}
#feedBack .img_person img:nth-child(1) {
  left: 0px !important;
  z-index: 1 !important;
}
#feedBack .img_person img:nth-child(2) {
  left: 38px !important;
  z-index: 2 !important;
}
#feedBack .img_person img:nth-child(3) {
  left: 80px !important;
  z-index: 3 !important;
}
#feedBack .img_person img:nth-child(4) {
  left: 121px !important;
  z-index: 3 !important;
}
#feedBack .reviews {
  box-sizing: border-box;
  margin-top: 19px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
#feedBack .reviews i {
  color: FFBF00;
  margin-right: 10px;
  margin-bottom: -1px;
  font-size: large;
}

#rose {
  bottom: -52px;
  left: 130px;
  z-index: 1;
  background-color: white;
  height: 88.5px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  width: 280px;
  padding-left: 19px;
  position: absolute;
}
#rose .img {
  width: 56.8px;
  height: 56.8px;
  margin-right: 19px;
}
#rose .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15.89px;
}
#rose .name {
  text-align: left;
  margin-right: 28px;
}
#rose .name span {
  display: block;
}
#rose .name span:nth-child(1) {
  color: #FF0363;
}
#rose .name span:nth-child(2) {
  font-size: 14px;
}
#rose .pinkButton {
  background-color: #FF0363;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
}
#rose .pinkButton i {
  color: white;
  font-size: large;
}

#icon_box {
  height: 124px;
  display: flex;
  position: absolute;
  top: 58px;
  right: 0px;
  justify-content: space-between;
  flex-direction: column;
  width: 30px;
  align-items: center;
}
#icon_box i {
  font-weight: bold;
  display: block;
  font-size: large;
}
#icon_box i:nth-child(2) {
  color: #FF0363;
}

#powered {
  font: medium;
  position: absolute;
  bottom: 45px;
  right: 0px;
  display: flex;
  align-items: center;
}
#powered span {
  color: black;
  font-weight: bold;
}
#powered img {
  width: 30px;
  height: 24px;
}

footer {
  background-color: rgb(18, 17, 17);
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.2em;
}
footer div {
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*# sourceMappingURL=euraka.css.map */
